<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geburtstage</title>
    <!-- CSS only -->
<link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="border border-dark p-3 mb-4 btn-info">
            <h1 class="d-flex justify-content-center">Birthdays</h1>
        </header>
        <div id="app">
            <!-- R E A D - F O R M U L A R -->
            <div v-if="readVisible">
                <div class="mb-4">
                    <div class="mb-3">
                        <ul class="list-group">
                            <li v-for="kontakt in kontakte" class="list-group-item d-flex justify-content-between mb-4">
                                <div>
                                    {{kontakt.name}}
                                </div>
                                <div>
                                    {{kontakt.geburtsdatum}}
                                </div>
                                <div>
                                    <button @click="editNewPersonClick(kontakt)" class="btn btn-primary mt-3"> Edit</button>
                                    <button @click="deletePersonClick(kontakt)" class="btn btn-danger mt-3 "> Delete</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-grid">
                    <button @click="buttonNewPerson" class="btn btn-success mt-5">New Person</button>
                </div>
            </div>
            <!-- C R E A T E - F O R M U L A R -->
            <div v-if="createVisible">
                <h2>Neuen Datensatz erstellen</h2>
                <div class="border p-3 mb-3">
                    <label for="inputName">Name</label>
                    <input class="form-control" type="text" id="inputName" v-model="newPersonName">
                </div>
                <div class="border p-3 mb-3">
                    <label for="inputGeburtsdatum">Geburtsdatum</label>
                    <input class="form-control" type="date" id="inputGeburtsdatum" v-model="newPersonBirthdate">
                </div>

                <button @click="buttonSaveNewPerson" class="btn btn-success me-3">Speichern</button>
                <button @click="cancelNewPersonClick" class="btn btn-danger">Abbrechen</button>
            </div>
            <!-- E D I T - P E R S O N -->
            <div v-if="editVisible">
                <h2>Edit Persons Info</h2>
                <div class="border p-3 mb-3">
                    <label for="inputnewName">New Name</label>
                    <input class="form-control" type="text" id="inputnewName" v-model="editPersonName">
                </div>
                <div class="border p-3 mb-3">
                    <label for="inputnewBirthdate">New Birthdate</label>
                    <input class="form-control" type="date" id="inputnewBirthdate" v-model="editPersonBirthdate">
                </div>
                <button @click="buttonSaveEditedPerson(kontakt)" class="btn btn-success me-3">Speichern</button>
                <button @click="cancelEditedPerson" class="btn btn-danger">Abbrechen</button>
            </div>
            <!-- D E L E T E - P E R S O N -->
            <div v-if="deleteVisible" >
                <h2 >Delete</h2>
                 <!-- <p>Wollen Sie {{kontakt.name}} wirklich löschen?</p> {{kontakt.name}} -->
                 <div >
                    <p>Wollen Sie {{pushDeletePerson.name}} wirklich löschen?</p> <!--{{kontakt.name}}-->
                    <button @click="deleteEnable(kontakt)" class="btn btn-success me-3">Ja</button>
                    <button @click="cancelDeletion" class="btn btn-danger">Abbrechen</button>
                 </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script src="apps.js"></script>
</body>
</html>